table, td, th {
    border: 2px solid black;
}

table {
    border-collapse: collapse;
}

th {
    background-color: black;
    color: white;
}


nav > ul {
    display: flex; /* maqueta los elemento uno a la derecha del otro*/
    flex-direction: column;
    list-style-type: none; /* quita los puntos de la lista ul */
    gap: 5px;  /* espacio entre los elementos del contenedor padre (ul) */ 
}

nav >ul > li {
    padding: 5px 10px;
    background-color: black;
    color:white;
}
nav > ul > li > a {
    text-decoration: none; /* quitamos el subrayado */
    color: white;
    display: block;
}

nav > ul > li:hover {
    background-color: brown; /* cambiamos el fondo de los li cuando nos ponemos con el cursor encima */
}

header {
    justify-items: center;
}

header img {
    height:150px;
    align-self: center;
}

body {
    background: #2A7B9B;
background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}